@media screen and (min-width: 480px) {    
    .singleartistwcontrol {
    	min-width:170px;
    }
    .cardimg{
        min-width: 150px;
    }
    .pincard:hover {
      transform: scale(1.03,1.03);
    }
}

@media screen and (max-width: 479px) {    
    .singleartistwcontrol{
        width:80%;
    }
}

.singleartistname {
	color: lightgrey;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;	
}