.Tilt {
	/*background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);  w3c */
}



@media screen and (min-width: 480px) {    
    .logodiv {

	}
	.logoimg {
		height: 150px;
		 width: 150px;
	}
}

@media screen and (max-width: 479px) {
	.logodiv {
		height: 30%;
		 width: 30%;
	}
	.logoimg {
		height: 100%;
		 width: 100%;
	}
}