.Tilt {
	/*background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);  w3c */
}



@media screen and (min-width: 480px) {    
    .logo-div {

	}
	.logoimg {
		height: 150;
		 width: 150;
	}
}

@media screen and (max-width: 479px) {
	.logo-div {
		
	}
	.logoimg {
		height: 30;
		 width: 30;
	}
}