/*RESET*/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
*/
/*MAIN*/
body { 
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: Helvetica Neue, Helvetica, Arial;
  /*background: #f9f9f9;
  color: #555;*/
}

a {

  color: #000000;
  text-decoration: none;
  font-weight: bold;

}

a:hover {

  color: #444;

}

/*img {

  width: 50px;

}*/

header {

  /*background: #fff;*/
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  /*border-bottom: 4px solid #4C9CF1;*/
  z-index: 100;

}

#logo{

  margin: 5px;
  float: left;
  width: 100px;
  height: 100px;
  background: url(./img/logo.png) no-repeat center;
  display: block;

}

nav {

  float: right;
  padding: 20px;  

}

#menu-icon {

  display: hidden;
  width: 70px;
  height: 70px;
  background: url(./img/menu-icon.png) center;
  background-repeat: no-repeat;
  background-size: 70px 70px;

}

a:hover#menu-icon {

  background-color: #444;
  border-radius: 4px 4px 0 0;

}

ul {

  list-style: none;

}

li {

  display: inline-block;
  float: left;
  padding-right: 15px;

}

.current {

  color: #ffffff;

}

/*section {

  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px

}*/

h1 {

  font-size: 2em;
  color: #2262AD;
  line-height: 1.15em;
  /*margin: 20px 0 ;*/

}

p {

  line-height: 1.45em;
  margin-bottom: 2px;

}

.logoimg {
    height: 150px; 
     width: 150px;
     float: left;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

  header {

    position: absolute;

  }

  #menu-icon {

    display:inline-block;

  }

  nav ul, nav:active ul { 

    display: none;
    position: absolute;
    padding: 1px;
    /*background: #fff;*/
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    border: 2px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;

  }

  nav li {
    height: auto;  
    text-align: center;
    width: 100%;
    padding: 2px 0;
    margin: 0;

  }

  nav:hover ul {

    display: block;

  }

  .logoimg {
    height: 100px; 
     width: 100px;
     float: left;
  }
}