.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center {
  justify-content: center;
  text-align: center;
  display: flex;
}

.center-no-flex {
  ustify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}