.artistcard {
	font-size: 2vh;
	color: lightgrey;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;	
}


@media screen and (min-width: 480px) {    
    .artistwcontrol {width:45%;}
    .artistcard:hover {
      transform: scale(1.03,1.03);
    }
}

@media screen and (max-width: 479px) {    
    .artistwcontrol {width:80%;}
}