.App {
  text-align: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center {
  justify-content: center;
  text-align: center;
  display: flex;
}

.center-no-flex {
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.top {
  margin-bottom: 20px;
  height: 100px;
}

header {
  height:150px;
}



@media screen and (min-width: 480px) {    
    /*.top {
      margin: 30px 0;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }*/
    .contentdiv {
      padding-top: 50px;
    }

    .submitdiv {
      width: 40%;
    }
}

@media screen and (max-width: 479px) {
  header {
    height:100px;
  } 
  .contentdiv {
    padding-top: 20px;
  }
}